

@{
    Layout = null;
}

<h1>Floor Result</h1>
<p>@ViewData["FloorResult"]</p>

@{
    decimal number = Convert.ToDecimal(ViewData["Number"]);
    decimal result = number;
}

<!--<p>The final answer is <strong>@result</strong></p>-->